body{
    margin: auto 0;
    background-color: rgb(241, 239, 239);
    color: black;
}
.nav{
    float: right;
    background-color: rgb(233,236,239);
    margin-top: -55px;
    border-bottom: 0;
}
.nav-item1, .nav-item2{
    border-right: solid 1px grey;
}
a{
    color: black;
    font-size: 18px;
}
.content-wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 0;
    clear: both;
}
article {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
}
#profile-photo {
    position: relative;
    float: left;
    width: 250px;
    margin: 10px 3% 10px 0px;
    overflow: auto;
}